<?xml version="1.0" ?>
<settings version="1">
    <section id="plugin.video.PakMedia">
        <category id="default" label="32001" help="">
            <group id="1">
                <setting id="DefaultVideoType" type="string" label="32010" help="">
                    <level>0</level>
                    <default>DailyMotion</default>
                    <constraints>
                        <options>
                            <option label="DailyMotion">DailyMotion</option>
                            <option label="Youtube">Youtube</option>
                            <option label="Facebook">Facebook</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting id="url_key" type="string" label="32012" help="">
                    <level>0</level>
                    <default>1234567890123456</default>
                    <control type="edit" format="string">
                        <heading>32012</heading>
                    </control>
                </setting>
            </group>
        </category>
    </section>
</settings>